div.container {
    padding: 0px;
}

.TaskCompact {
    background-color: #fafafa;
    border-color: #5555ff;
    border-width: 0px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
    width: 90%;
    display: flex;
    position: relative;
    padding: 10px;
    padding-left: 60px;
    transition-duration: 0.1s;
}

.CompleteTaskButton {
    position: absolute;
    transition-duration: 0.1s;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 75px;
    height: 100%;
    border: none;
    outline: none;
    padding: 0px;
    left: 0px;
    top: 0px;
    background-color: #f1f1f1;
}

.CompleteTaskButton:hover {
    background-color: #019649;
}

.TimedTaskTimeContainer {
    min-width: 100px;
    height: 100%;
    text-align: right;
    margin: 0px;
    margin-left: auto;
}

.TaskTitle {
    color: #5555ff;
    font-weight: 600;
    font-size: 28px;
    height: 100%;
    align-items: center;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    margin: 0px;
    margin-top: 0px;
}

.TaskSummary {
    color: #999999;
    text-overflow: clip;
    font-style: italic;
    white-space: pre-wrap;
    overflow: hidden;
    line-height: 18px;
}

.TaskStartDate {
    color: #999999;
    font-style: italic;
    min-width: 100px;
    text-align: right;
}

.TaskButtonRow {
    padding: 0px;
    padding-top: 5px;
    height: 45px;
    align-items: center;
}

.TaskFocusButton {
    border-width: 0px;
    border-radius: 5px;
    border-color: #5555ff;
    border-style: solid;
    background-color: #5555ff;
    align-items: center;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: auto;
    height: auto;
    margin: 5px;
    transition-duration: 0.1s;
    z-index: 10;
}

.TaskFocusButton:hover {
    border-width: 5px;
    margin: 0px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.TaskEditButton {
    border-width: 0px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    color: #787b7c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: auto;
    height: auto;
    margin: 5px;
    transition-duration: 0.1s;
    z-index: 10;
}

.TaskEditButton:hover {
    border-width: 5px;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    margin: 0px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.TaskDeleteButton {
    border-width: 0px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    color: #eb4242;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: auto;
    height: auto;
    margin: 5px;
    transition-duration: 0.1s;
    z-index: 10;
}

.TaskDeleteButton:hover {
    border-width: 5px;
    border-color: #eb4242;
    background-color: #eb4242;
    color: #fafafa;
    margin: 0px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.TaskOverlayExpandButton {
    position: absolute;
    border-radius: 5px;
    border-width: 0px;
    outline-width: 0px;
    padding: 0px;
    opacity: 0;
    top: -10px;
    left: 0;
    width: calc(100% + 12px);
    height: calc(100% + 20px);
    z-index: 1;
}

.TaskOverlayCollapseButton {
    position: absolute;
    border-radius: 5px;
    border-width: 0px;
    outline-width: 0px;
    padding: 0px;
    opacity: 0;
    top: -10px;
    left: 0;
    width: calc(100% + 12px);
    height: calc(100% - 30px);
    z-index: 1;
}