.TaskCompact {
    background-color: #fafafa;
    border-color: #5555ff;
    border-width: 0px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
    width: 90%;
    display: inline-block;
    padding: 10px;
    transition-duration: 0.1s;
}

.TaskCompleteContainer {
    /* background-color: orange; */
    padding: 3px;
    height: 36px;
    width: 36px;
    margin-left: 0px;
    margin-right: auto;
}

.TaskCompleteIndicator{
    padding: 3px;
    border-color: #222222;
    background-color: #222222;
    border-style: solid;
    border-radius: 4px;
    width: 30px;
    height: 30px;
}

.TimedTaskTimeContainer {
    min-width: 100px;
    line-height: 50px;
    height: 50px;
    text-align: right;
    margin-left: auto;
    margin-right: 0px;
}

.TaskTopCol {
    padding-left: 0px;
    padding-right: 10px;
}

.TaskTopRow {
    height: auto;
    align-items: center;
}

.TaskTitle {
    color: #5555ff;
    font-weight: 600;
    font-size: 28px;
    height: 100%;
    align-items: center;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    margin: 0px;
}

.TaskSummary {
    color: #999999;
    text-overflow: clip;
    font-style: italic;
}

.TaskStartDate {
    color: #999999;
    font-style: italic;
    min-width: 100px;
    text-align: right;
}

.TaskButtonRow {
    padding: 0px;
    padding-top: 5px;
    height: 45px;
    align-items: center;
}

.TaskFocusButton {
    border-width: 0px;
    border-radius: 5px;
    border-color: #5555ff;
    border-style: solid;
    background-color: #5555ff;
    align-items: center;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: auto;
    height: auto;
    margin: 5px;
    transition-duration: 0.1s;
}

.TaskFocusButton:hover {
    border-width: 5px;
    margin: 0px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.TaskEditButton {
    border-width: 0px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    color: #787b7c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: auto;
    height: auto;
    margin: 5px;
    transition-duration: 0.1s;
}

.TaskEditButton:hover {
    border-width: 5px;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    margin: 0px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.TaskDeleteButton {
    border-width: 0px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    color: #eb4242;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: auto;
    height: auto;
    margin: 5px;
    transition-duration: 0.1s;
}

.TaskDeleteButton:hover {
    border-width: 5px;
    border-color: #eb4242;
    background-color: #eb4242;
    color: #fafafa;
    margin: 0px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}