.Accordion {
    background-color: #eeeeee;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.AccordionHeader {
    background-color: #fafafa;
    border-color: #d1d1d1;
    width: 100%;
    padding: 10px;
    display: flex;
    text-overflow: clip;
}

.AccordionIcon {
    margin-right: 0px;
    margin-left: auto;
    display: inline-block;
}

.AccordionContent {
    padding: 10px;
}