@media (min-width: none) {
    .AppContainer {
        max-width: 320px;
    }
}

@media (min-width: 576px) {
    .AppContainer {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .AppContainer {
        max-width: 680px;
    }
}

@media (min-width: 1200px) {
    .AppContainer {
        max-width: 800px;
    }
}

@media (min-width: 1400px) {
    .AppContainer {
        max-width: 900px;
    }
}

.AppContainer {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px;
    align-items: center;
}

div.row {
    margin-left: 0px;
    margin-right: 0px;
}

.TaskBannerRow {
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 0px;
    width: 100%;
    margin: 0px;
    height: auto;
}

.AddTaskButton {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #5555ff;
    background-color: rgba(0, 0, 0, 0);
    outline-color: #5555ff;
    outline-width: 0px;
    outline-style: solid;
    border-color: #5555ff;
    border-style: dashed;
    border-width: 3px;
    border-radius: 5px;
    width: 90%;
    height: 60px;
    transition-duration: 0.1s;
}

.AddTaskButton:hover {
    color: #ffffff;
    background-color: #5555ff;
    border-color: #5555ff;
    outline-width: 5px;
    box-shadow: 0px 9px 5px rgba(0, 0, 0, 0.3);
}